.Button {
  background-color: #19bfba;
  color: #000;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid #19bfba;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button:hover {
  background-color: #b9ffe8;
  cursor: pointer;
}

.Red {
  color: #fefefe;
  background-color: #673147;
  border: 1px solid #673147;
}

.Red:hover {
  background-color: #673147;
  filter: brightness(60%);
}

.Gray {
  background-color: #ccc;
  border: 1px solid #ccc;
}

.Gray:hover {
  background-color: #ccc;
  filter: brightness(60%);
}
